.advantages {
	min-height: 470px;
	padding: 80px 0;
	background-color:  #F6F6F6;

	&__wrapper {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(100% / 3);		
	}

	&__subtitle {
		margin-top: 30px;
		font-size: 18px;
		font-weight: 700;
		color: #0D0D0D;
		text-align: center;
	}

	&__descr {
		margin-top: 20px;
		width: 100%;
		font-weight: 300;
		font-size: 16px;
		line-height: 140%;
		color: #0D0D0D;
		text-align: center;

		a {
			color: #1298DE;
		}
	}

	&__icon {
		width: 70px;
		height: 70px;

		&_animated {
			animation-name: heartbeat;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;

			&:hover{
				animation-play-state: paused;
			}
		}
	}
}
