.catalog {
	padding: 100px 0;

	&__tabs {
		margin: 0;
		margin-top: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		padding: 0 11px;
	}

	&__tab {
		width: calc(100% / 3);
		height: 52px;
		background: rgba(0, 0, 0, 0.0001);
		border: 2px solid #D0D0D0;
		font-weight: 400;
		font-size: 18px;
		line-height: 48px;
		text-align: center;
		text-transform: uppercase;
		color: #6B6B6B;
		transform: skewX(-25deg);
		cursor: pointer;
		transition: 0.5s all;

		&:hover {
			box-shadow: 3px 3px 20px $main_color;
			border: none;
		}

		div {
			transform: skewX(25deg);
		}

		&_active {
			color:#fff;
			background-color: $main_color;
			border: none;
		}
	}

	&__content {
		margin-top: 60px;
		display: none;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		gap: 16px;

		&_active {
			display: grid;
		}	
	}

	&-item {
		min-height: 442px;
		border: 2px solid #E8E8E8;
		overflow: hidden;

		&__content-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px 40px 26px 20px;
        }

		&__img {
			display: block;
			margin: 0 auto;
			height: 200px;
			object-fit: cover;
		}

		&__subtitle {
			width: 290px;
			margin-top: 15px;
			font-weight: 700;
			font-size: 16px;
			text-align: center;
			color: #0D0D0D;
		}

		&__descr {
			width: 290px;
			margin-top: 15px;
			font-weight: 300;
			font-size: 14px;
			line-height: 22px;
			text-align: center;
			color: #0D0D0D;
		}

		&__link {
			display: block;
			margin-top: 10px;
			color: $main_color;
			font-weight: 500;
			font-size: 14px;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;

			&:hover {
				color: $hover_color;
			}
		}

		hr {
			background: #E8E8E8;
			width: 80%;
			border-bottom: none;
			margin: 0 auto;
		}

		&__footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 16px 20px;
		}

		&__old-price {
			font-weight: 300;
			font-size: 14px;
			text-decoration-line: line-through;
			color: #555555;
		}

		&__price {
			font-weight: 700;
			font-size: 20px;
			color: #050505;
		}

		&__wrapper {
			display: flex;
			width: calc(200% + 40px);
		}

		&__content {
			width: 50%;
			margin-right: 0px;
			transform: translateX(-100%);
			transition: all 0.5s;
			&_active {
				transform: translateX(0%);
				margin-right: 20px;
			}
		}

		&__list-wrapper {
			position: relative;
			width: 50%;
			margin: 0;
			padding: 20px 40px 20px 20px;
			transform: translateX(0%);
			// display: flex;
			// flex-direction: column;
			// justify-content: flex-start;
			// align-items: center;
			transition: all 0.5s;
			&_active {
				transform: translateX(-100%);
				margin-left: 0px;
			}

		}
		&__list {
			padding-left: 20px;
			margin: 0;
			li {
				position: relative;
				font-weight: 300;
				font-size: 14px;
				line-height: 140%;
				color: #555555;
				margin-bottom: 10px;

				&:before {
					content: '';
					position: absolute;
					width: 5px;
					height: 5px;
					background-color: $main_color;
					left: -14px;
					top: 6px;
				}
			}
		}

		&__back {
			position: absolute;
			bottom: 26px;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			margin-top: 10px;
			color: $main_color;
			font-weight: 500;
			font-size: 14px;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			border: none;
			background: none;
			
			&:hover {
				color: $hover_color;
			}
		}
	}
}